# Project Plan
MVP.md

# Python

__pycache__

# Tests

backend/tests/

.DS_Store

# .env
.env

# venv

backend/venv/

# Database files
backend/database/leapp_forensics.db
*.db
*.sqlite
*.sqlite3

# Node.js
node_modules/

# Python cache
*.py[cod]
*$py.class