# Project Plan
MVP.md

# Python

__pycache__
*.py[cod]
*$py.class

# Mac

.DS_Store

# .env
.env

# venv

backend/venv/

# Database
backend/database/leapp_forensics.db
backend/database/chroma/

# Node.js
node_modules/

# Python cache
*.py[cod]
*$py.class